body {
    font: 1em/1.4em sans-serif;
}

.vanya {
    color: red;
}

.button {
    margin-left: 50px;
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 11px 15px;
    border-radius: 2px;
    background-color: red;
}

.button:hover {
    transition: 0.3s;
    opacity: 0.9;
}

.text_button {  
    color: white;
    font-size: 13px;
}

.dollar {
    position: absolute;
}



.grn {
    position: relative;
    margin-left: 300px;
}

.page-preloader {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: red;
    position: fixed;
    z-index: 1000;
    background-color: black;
    visibility: visible;
    transition: 1s all;
    opacity: 1;
}

.loader {
    width: 75px;
    height: 75px;
    border: 10px solid white;
    border-radius: 50%;
    border-top-color: blue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 2s spin infinite linear;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
    /* .page-preloader:done {
        opacity: 0;
        visibility: hidden;
    } */


